<header>
    <div class="header-content">
        <div class="header-content-inner">

          <p class="transbox">Welcome, <%= @user.first_name %></p>

          <hr>

          <div id="bike-shop" class "shop-info-toggle transbox">
            <form>
              <div>
                <input type="text" name="location" placeholder="Enter Zip to find a shop" class="transbox shop-search">
                <button class="btn btn-search shop-search-btn"> Submit </button>
              </div>
            </form>
          </div>


          <%= form_tag('/add-shop', method: :put) do %>
          <input type="text" name="shop-to-add" id="shop-to-add" value="Enter Shop from above" class="form-control">
          <button class="btn btn-search shop-search-btn"> Submit </button>
        <% end %>

<!--
          <form class="form-inline" action="/add-shop" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
            <div class="form-group search-field">
              <input type="text" name="shop-to-add" id="shop-to-add" value="Enter Shop from above" class="form-control">
              <button class="btn btn-search shop-search-btn"> Add Your Shop </button>
            </div>
          </form> -->

          <hr>

          <%= gear_track_toggle %>

        </div>
    </div>
</header>
