<header>
    <div class="header-content">
        <div class="header-content-inner">
          <p></p>
          <h1>Gear Track'r</h1>
          <hr>
          <%= landing_service %>
          <hr>
          <p class="transbox">Click the link above to get started tracking your gear and we'll let you know when you need to rotate shoes, rebuild your shock, or schedule a tune up on your road bike!</p>
        </div>
    </div>
</header>
