<header>
    <div class="header-content">
        <div class="header-content-inner">
          <p></p>
          <h1>Welcome to </h1>
          <h1>Gear Track'r</h1>
          <hr>
          <h1><%= landing_service %></h1>
          <hr>
          <%= instruction_toggle %>
        </div>
    </div>
</header>
