<header>
    <div class="header-content">
        <div class="header-content-inner">
          <h1>Story Time</h1>
          <hr>
          <p class="transbox">Vanessa needed to track her MTB by hours, not miles, so here we are.</p>
        </div>
    </div>
</header>
