<header class=>
    <div class="header-content">
      <div class="header-content-inner">
        <h1>How it works</h1>
        <hr>
        <p class="transbox">By clicking the link below you give the app permission to access your user data from Strava.  We then parse thru your rides/runs and then give you both distance and duration of use for each piece of equipment you have on the app.  Many manufacturers use time as a method for maintenance, not distance, this is currently not provided by Strava. We'll also let you set alerts for gear maintenance reminders.</p>
        <hr>
        <%= landing_service %>
      </div>
    </div>
</header>
